

.myBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #3333334d; */

}  

.wheel-container {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-container .spinBtn {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1rem;
    border:  4px solid rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none; 
}
.wheel-container .spinBtn::before {
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: #fff;
    clip-path: polygon(50% 0%,15% 100%,85% 100%);
}
.wheel-container .wheel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 05px #333,
    0 0 0 15px #fff,
    0 0 0 18px #111;
    transition: transform 5s ease-in-out;
}
.wheel-container .wheel .number{
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform:rotate(calc(60deg*var(--i)));/*幾片修改處*/
    clip-path: polygon(0% 0%,74% 0%,100% 100%,0% 74%);/*68~74都不錯*/
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; 
    cursor: pointer;
}
.wheel-container .wheel .number span{
    position: relative;
    transform: rotate(60deg);
    font-size: 2em;
    font-weight: 700;
    color: #111;
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
}
.wheel-container .wheel .number span::after{
    content: '';
    position: absolute;
    font-size: 0.75rem;
    font-weight: 500;
}

/*rwd的部分*/
@media (max-width: 600px) {
    .wheel-container {
        width: 90vw;
        height: 90vw;
    }

    .wheel-container .spinBtn {
        width: 20vw;
        height: 20vw;
    }

    .wheel-container .wheel .number span {
        font-size: 1.5em;
    }
}