*{
    margin: 0;
    padding: 0;
}

html,body{
background-color: #F9DEC9;
}

.drewCard{
    background-color: #b69d7e;
    border:#ffffff 5px inset;
    padding: 15px;
}
.card {
    margin-bottom: 20px; 
  }