*{
    margin: 0;
    padding: 0;
}

html,body{
background-color: rgb(219, 217, 217);
}

.drewCard{
    background-color: rgb(107, 109, 109);
    border:#ffffff 5px inset;
    padding: 15px;
}
.card {
    margin-bottom: 20px; 
  }